<div class="wrapper">
    <div class="body">

        <section id="head">
            <div class="title">
                <h1>Run… and Roll</h1>
                <div class="sub-title">Sore knees, aching hips, not running due to injury?</div>
            </div>
        </section>

        <section id="intro">
            <div class="intro-lead">
                The “Run… and Roll” workshop, with practical demonstrations, and the latest evidence, will help you:
            </div>
            <div class="intro-list">
                <ol>
                    <li>Manage “niggles”</li>
                    <li>Learn why and how to use the foam roller </li>
                    <li>Understand running “form”</li>
                    <li>Find out if and when running is bad for you</li>
                </ol>
            </div>
        </section>

        <section id="location">
            <h1>Saturday<br />4 March 2017</h1>
            <p><span>Time:</span> 2pm - 4.30pm <span> | </span> <span>Location:</span> TBC</p>
        </section>

        <div id="map_canvas"></div>

        <section id="coaches">
            <h1>The Coaches</h1>
                <div class="grid-item">
                    <img src="/assets/img/Jules.jpg" alt="Portrait of Julianne Jameson, Dircteor of Runology">
                    <h2>Julianne<br />Jameson</h2>
                    <p>Physiotherapist specialising in assessing and training runners. She has trained in running analysis and strength and conditioning. Always reading the latest research or looking at the value of the latest running fad, you could say she is obsessed by all things running!</p>
                    <p>She has run several road and trail marathons, has run an ultramarathon of 43 miles as well as 5k and 10k races.</p>
                </div>
                <div class="grid-item">
                    <img src="/assets/img/jane.jpg" alt="Portrait of Jane Rackham, Dircteor of The Rackham Effect">
                    <h2>Jane<br />Rackham</h2>
                    <p>Sports therapist and accomplished Ironman triathlete. As well as sports / remedial massage Jane specialises in myofascial release using the Rossiter System method.  An advanced level 4 Rossiter coach and only 1 of 9 in the UK. Working in the health and fitness industry for around 17 years, Jane is also qualified fitness and gym instructor.</p>
                </div>
        </section>

        <section id="places">
            <p>Places are limited to <strong>15</strong> to ensure you get a chance to talk to the experts.  The cost is</p>
            <h1>£25</h1>
            <p>Please bring your own mats and foam rollers if you have them.  Don’t worry if you don’t as we have spares!  This will be a practical session with a chance for a cuppa and Q&A afterwards.</p>
            <p>Book your place by xxxxxxxxxxx (maybe set up a link to a website page that Grant can do?)</p>
        </section>

        <section id="footer">
            <h3>Run… and roll is brought to you by…</h3>
            <div class="runology">
                <a href="http://www.runology.fit" target="_blank">Runology</a>
            </div>
            <div class="rackham">
                <a href="http://www.therackhameffect.com" target="_blank">The Rackham Effect</a>
            </div>
        </section>

    </div>
</div>
