<div class="wrapper">
    <div class="body">

        <section id="head">
            <div class="title">
                <h1>Run… and Roll</h1>
                <div class="sub-title">Sore knees, aching hips, not running due to injury?</div>
            </div>
        </section>

        <section id="intro">
            <h2>Workshops</h2>
            <div class="intro-lead">
                The “Run… and Roll” workshop, with practical demonstrations, and the latest evidence, will help you:
            </div>
            <div class="intro-list">
                <ol>
                    <li>Manage “niggles”</li>
                    <li>Learn why and how to use the foam roller </li>
                    <li>Understand running “form”</li>
                    <li>Find out if and when running is bad for you</li>
                </ol>
            </div>
        </section>

        <section id="location">
            <h5>Set a Date</h5>
            <h1>Saturday<br />4 March 2017</h1>
            <p><span>Time:</span> 12:30pm - 3:30pm <span> | </span> <span>Location:</span> <a href="https://www.google.co.uk/maps/place/GL3+Community+Hub/@51.8869033,-2.1907977,17z/data=!3m1!4b1!4m5!3m4!1s0x48710457438cf8e5:0xd14d2cd10301dee2!8m2!3d51.8869!4d-2.188609" target="_blank">GL3 Community Hub</a></p>
        </section>

        <div id="map_canvas"></div>

        <section id="coaches">
            <h1>The Coaches</h1>
                <div class="grid-item">
                    <img src="../assets/img/Jules.jpg" alt="Portrait of Julianne Jameson, Dircteor of Runology">
                    <h2>Julianne<br />Jameson</h2>
                    <p>Physiotherapist specialising in assessing and training runners. She has trained in running analysis and strength and conditioning. Always reading the latest research or looking at the value of the latest running fad, you could say she is obsessed by all things running!</p>
                    <p>She has run several road and trail marathons, has run an ultramarathon of 62 miles as well as 5k and 10k races.</p>
                </div>
                <div class="grid-item">
                    <img src="../assets/img/jane.jpg" alt="Portrait of Jane Rackham, Dircteor of The Rackham Effect">
                    <h2>Jane<br />Rackham</h2>
                    <p>Jane is an accomplished Ironman triathlete and multi-day marathon runner. Along side her Sports and Remedial Massage she specialises in Myofascia release using the ROSSITER system. A Level 4 Coach (one of only 9 in the country). Working in the health and fitness industry for over 20yrs as a Gym Instructor and teaching Group Exercise Classes brings a wealth of experience, something that's hugely important in helping people 'Believe to Achieve'.</p>
                </div>
        </section>

        <section id="places">
            <div class="col-width">
                <h2>Grab your place...</h2>
                <p>Places are limited to <strong>18</strong> to ensure you get a chance to talk to the experts.  However we can take more names for future sessions. The cost is</p>
                <h1>£30</h1>
                <p>Please bring your own mats and foam rollers if you have them.  Don’t worry if you don’t as we have spares!  This will be a practical session with a chance for a cuppa and Q&A afterwards.</p>

                <script src="https://www.commencepayments.com/v2/commence.js" data-payment-method="credit-card" data-amount="3000" data-currency="GBP" data-description="Run and Roll Workshop" data-name="Run and Roll" data-image="https://api.typeform.com/v0/form/xulL58/fields/19706176/blob/18a484fd165e-android_chrome_512x512.png?key=0f0704fb23802ca3a69d53642c18f47be96e3ab8" data-billing-address="true" data-key="pk_live_Xd3gR8PfEnkLfRqg0uwzMcOn"></script>

            </div>
        </section>

        <section id="footer">
            <h2>Run… and roll<br />is brought to you by…</h2>
            <div class="runology">
                <a href="http://www.runology.fit" target="_blank"><img src="../assets/img/runology.svg" alt="Runology Company Logo"></a>
            </div>
            <div class="rackham">
                <a href="http://www.therackhameffect.com" target="_blank"><img src="../assets/img/rackhameffect.svg" alt="The Rackham Effect Comapny Logo"></a>
            </div>
        </section>

        <div id="trans">
            <p>Website design and development <a href="http://www.transitiongraphics.co.uk" title="Brand design, Website development throughout Gloucestershire"><strong>Transition Graphics</strong></a></p>
        </div>

    </div>
</div>
