@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Open+Sans:400,800");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* COMMON */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #009FE3;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  color: #00587d; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bungee Shade", cursive;
  font-weight: 800;
  font-size: 28px; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 14px;
    font-weight: 500;
    border-bottom: solid 1px #555;
    color: #555; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 15px auto;
  padding: 15px; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }
  .wrapper .body {
    background: white;
    padding: 30px; }
  .wrapper #head {
    background-image: url("../img/runner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    padding: 45px; }
    @media screen and (max-width: 767px) {
      .wrapper #head {
        padding: 45px 15px; } }
    .wrapper #head .title {
      text-align: center;
      margin: 8% 0; }
      .wrapper #head .title h1 {
        color: #fff; }
        @media screen and (max-width: 767px) {
          .wrapper #head .title h1 {
            font-size: 30px;
            margin: 0 0 15px 0; } }
    .wrapper #head .sub-title {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      color: #fff; }
  .wrapper #intro {
    padding: 45px; }
    .wrapper #intro::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 767px) {
      .wrapper #intro {
        padding: 45px 15px; } }
    .wrapper #intro h2 {
      color: #00587d;
      text-align: center;
      margin-top: 0; }
      @media screen and (max-width: 767px) {
        .wrapper #intro h2 {
          font-size: 25px; } }
    .wrapper #intro .intro-lead {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 8.5298%;
      font-family: "Open Sans", sans-serif;
      color: #00587d;
      font-size: 1.75rem;
      font-weight: 800;
      text-align: right;
      text-transform: uppercase; }
      .wrapper #intro .intro-lead:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .wrapper #intro .intro-lead {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-left: 0%;
          text-align: center;
          font-size: 1.25rem;
          margin-bottom: 15px; }
          .wrapper #intro .intro-lead:last-child {
            margin-right: 0; } }
    .wrapper #intro .intro-list {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      font-family: "Open Sans", sans-serif;
      color: #00587d;
      font-size: 1.25rem; }
      .wrapper #intro .intro-list:last-child {
        margin-right: 0; }
      .wrapper #intro .intro-list ol {
        margin: 5px 0; }
      @media screen and (max-width: 767px) {
        .wrapper #intro .intro-list {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-left: 0%;
          font-size: 1.25rem; }
          .wrapper #intro .intro-list:last-child {
            margin-right: 0; } }
  .wrapper #location {
    background-color: #9b4fc4;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    padding: 45px;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .wrapper #location {
        padding: 45px 15px; } }
    .wrapper #location h5 {
      color: #fff;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      margin: 0 0 20px 0; }
      @media screen and (max-width: 767px) {
        .wrapper #location h5 {
          font-size: 18px; } }
    .wrapper #location p {
      color: #fff;
      font-weight: 800;
      margin-bottom: 0; }
      .wrapper #location p a {
        color: #fff;
        text-decoration: none; }
      .wrapper #location p:hover {
        text-decoration: underline; }
    .wrapper #location span {
      font-weight: 400; }
    .wrapper #location h1 {
      color: #fff;
      text-align: center;
      margin-top: 0; }
      @media screen and (max-width: 767px) {
        .wrapper #location h1 {
          font-size: 30px; } }
  .wrapper #map_canvas {
    height: 400px;
    width: 100%;
    background-image: url("../img/google-map.jpg");
    background-position: center center; }
    .wrapper #map_canvas::after {
      clear: both;
      content: "";
      display: block; }
  .wrapper #coaches {
    padding: 45px;
    text-align: center; }
    .wrapper #coaches::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 767px) {
      .wrapper #coaches {
        padding: 45px 15px; } }
    .wrapper #coaches h1 {
      text-align: center;
      color: #00587d;
      margin-top: 0; }
      @media screen and (max-width: 767px) {
        .wrapper #coaches h1 {
          font-size: 30px; } }
    .wrapper #coaches .grid-item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .wrapper #coaches .grid-item:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .wrapper #coaches .grid-item {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .wrapper #coaches .grid-item:last-child {
            margin-right: 0; } }
    .wrapper #coaches img {
      height: 150px;
      width: 150px;
      border-radius: 50%; }
    .wrapper #coaches h2 {
      color: #00587d; }
      @media screen and (max-width: 767px) {
        .wrapper #coaches h2 {
          font-size: 25px; } }
  .wrapper #places {
    padding: 45px;
    background-color: #00587d;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    text-align: center; }
    .wrapper #places::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 767px) {
      .wrapper #places {
        padding: 45px 15px; } }
    .wrapper #places .col-width {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      .wrapper #places .col-width:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .wrapper #places .col-width {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-left: 0%; }
          .wrapper #places .col-width:last-child {
            margin-right: 0; } }
    .wrapper #places h2 {
      color: #fff;
      margin: 0 0 20px 0; }
      @media screen and (max-width: 767px) {
        .wrapper #places h2 {
          font-size: 25px; } }
    .wrapper #places p {
      color: #fff; }
      .wrapper #places p:last-child {
        margin-bottom: 0; }
    .wrapper #places h1 {
      color: #fff;
      margin-top: 0; }
      @media screen and (max-width: 767px) {
        .wrapper #places h1 {
          font-size: 30px; } }
  .wrapper #footer {
    padding: 45px;
    background-color: #222222;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    text-align: center; }
    .wrapper #footer::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 767px) {
      .wrapper #footer {
        padding: 45px 15px; } }
    .wrapper #footer h2 {
      color: #eee;
      margin-top: 0; }
      @media screen and (max-width: 767px) {
        .wrapper #footer h2 {
          font-size: 25px; } }
    .wrapper #footer .runology {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .wrapper #footer .runology:last-child {
        margin-right: 0; }
      .wrapper #footer .runology img {
        height: 75px; }
      @media screen and (max-width: 767px) {
        .wrapper #footer .runology {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-bottom: 20px; }
          .wrapper #footer .runology:last-child {
            margin-right: 0; }
          .wrapper #footer .runology img {
            height: 50px; } }
    .wrapper #footer .rackham {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .wrapper #footer .rackham:last-child {
        margin-right: 0; }
      .wrapper #footer .rackham img {
        height: 75px; }
      @media screen and (max-width: 767px) {
        .wrapper #footer .rackham {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .wrapper #footer .rackham:last-child {
            margin-right: 0; }
          .wrapper #footer .rackham img {
            height: 50px; } }
  .wrapper #trans {
    display: block;
    color: #cccccc; }
    .wrapper #trans p {
      color: #009FE3;
      margin: 20px 0 0 0; }
    .wrapper #trans a {
      color: #009FE3;
      text-decoration: none; }
      .wrapper #trans a:hover {
        color: #00587d; }
